.App {
  text-align: center;
}

.table {
  display: table;
  width: auto;
  border: 1px solid #666666;
}
.table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.table-col {
  float: left;
  display: table-column;
  width: 200px;
  border: 1px solid #ccc;
}

.positive {
  color: black;
}

.negative {
  color: red;
}
