.main-dash {
  height: 88vh;
  margin: 0 auto;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    position: absolute;
    top: 150px;
    font-family: $main-font;
    font-size: 30px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .budge-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .add-budge {
      position: absolute;
      top: 200px;
    }

    .budgets {
      margin-top: 350px;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;

      .individual-budge {
        height: 200px;
        width: 200px;
        margin-top: 20px;
        border-radius: 10px;
        font-family: $main-font;
        font-size: 20px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086);
        margin: 20px;

        .fa-line-chart {
          font-size: 50px;
        }

        .budge-name {
          font-family: $main-font;
          font-size: 25px;
          text-decoration: none;
          font-weight: 700;
        }

        .fa-times {
          background-color: white;
          color: black;
          border: none;
        }
      }
    }
  }
}
