.main-dash {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 130px;

  h1 {
    position: relative;
    font-family: $main-font;
    font-size: 30px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;

    @media (max-width: 730px){
      font-size: 25px;
    }
  }

  .budge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .add-budge {
      position: relative;
      
    }

    .budgets {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      position: relative;
      margin-right: 7%;
      margin-left: 7%;

      .individual-budge {
        position: relative;
        height: 200px;
        width: 200px;
        margin-top: 20px;
        border-radius: 10px;
        font-family: $main-font;
        font-size: 20px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086);
        margin: 20px;

        @media (max-width: 730px){
          height: 175px;
          width: 175px;
        }

        .fa-line-chart {
          font-size: 50px;
          position: absolute;
          top: 30px;
          right: 10;

          @media (max-width: 730px){
          font-size: 40px;
          }
        }

        .budge-name {
          font-family: $main-font;
          font-size: 25px;
          text-decoration: none;
          font-weight: 700;

          @media (max-width: 730px){
            font-size: 20px;
            }
        }

        .fa-times {
          background-color: white;
          color: black;
          border: none;
          position: absolute;
          top: 0;
          right: 0;
          padding: 0;
          margin: 20px 10px 0 0;
        }
      }
    }
  }
}
